{% extends '@EasyjetEleave/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}


{% block title %}Eleave List{% endblock %}

{% block specificJs %}{{ parent() }}
<script>

    $(document).on("click", ".deleteEmailId", function () {
        var id = $(this).data('email-id');
        $('#email-id').val(id);
    });
    $(function() {
        swissinside.menuSelected("menu-office-wish-cabins");
    });
    $(function() {
        var contracts = [];
        $("#types_eftr option:selected").each(function() {
            contracts.push($(this).val());
        });

        var leavePreference = [];
        $("#choice1_leave_preference option:selected").each(function() {
            leavePreference.push($(this).val());
        });
        
        var eleaveAjaxParams = [];
        eleaveAjaxParams.push({name : "id_station", value: $("#id_station").val() });
        eleaveAjaxParams.push({name : "state", value: $("#state").val() });
        eleaveAjaxParams.push({name : "choice1_leave_preference", value: leavePreference });
        eleaveAjaxParams.push({name : "from", value: $("#date-from").val() });
        eleaveAjaxParams.push({name : "to", value: $("#date-to").val() });
        eleaveAjaxParams.push({name : "eleaveUser", value: $("#eleaveUser").val() });
        eleaveAjaxParams.push({name : "contracts", value: contracts });
        
        swissinside.simpleDataTable($("#call-types-list"), {
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{ url('eleave_wishes_search') }}",
            "fnServerParams": function ( aoData ) {
                for(var index in eleaveAjaxParams) {
                    aoData.push(eleaveAjaxParams[index]);
                }
            },
            "aoColumns" : [
                null, // User
                null, // Contract
                null, // Request date
                {"bSortable": false}, // Comment
                {"bSortable": false}, // Accepted period
                null, // State
                null, // Type
                {"bSortable": false}, // Action
                {"bSortable": false, "bVisible": false} , // deletable
                {"bSortable": false, "bVisible": false} , // selectedFrom
                {"bSortable": false, "bVisible": false}  // selectedTo
            ],
            "aaSorting" : [[2, "asc"]],
             "fnRowCallback" : function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                // Generate buttons
                var editUrl =  "{{ url('eleave_wishes_edit', {'id' : ':id'} )}} ";
                editUrl = editUrl.replace(":id", aData[7]); 
                var editLink = '<a class="btn btn-default" href='+editUrl+'><i class="icon-edit"></i> Edit</a> ';
                var deleteLink = aData[8] ? '<a class="btn btn-danger deleteEmailId"  data-email-id="'+aData[7]+'" data-toggle="modal"  data-target="#deleteEmailModal" ><i class="icon-remove"></i> Delete</a>' : "";
                $("td:eq(7)", nRow).html(
                    editLink +
                    deleteLink
                );
        
                if(aData[5] == 3) {
                    $("td:eq(4)", nRow).html("-");
                }
                else {
                    $("td:eq(4)", nRow).html(
                        (aData[5] == 0 ? "<b>Primary choice</b><br>" : "") + aData[9] + "<br>" + aData[10]
                    );
                }
                
               lastIndexEndBracket = aData[0].lastIndexOf(")");               
               lastIndexStartBracket = aData[0].lastIndexOf("(");               
               workRatio = aData[0].substr(parseInt(lastIndexStartBracket)+1,parseInt(lastIndexEndBracket)-parseInt(lastIndexStartBracket)-1);               
               empInfo = aData[0].substr(0,parseInt(lastIndexStartBracket)-1);              
               
                var user = "";
                if(typeof workRatio !== 'undefined' && workRatio !== null && workRatio !== '') {
                    if(workRatio < 100){    
                        user = empInfo + '<span style="color: orange;"> (' + workRatio + '%)</span>'
                    }                  
                    else if (workRatio == 100) {           
                        user = empInfo + ' (' + workRatio + '%)'      
                    }
                }
                else
                {
                    user = empInfo
                }
                              
                $("td:eq(0)", nRow).html(
                   user
                );
                    
                var state = "";
                switch(aData[5]) {
                    case 0 : state = '<span class="badge badge-info">Request in progress</span>'; break;
                    case 1 : state = '<span class="badge badge-danger">Request refused</span>'; break;
                    case 2 : state = '<span class="badge badge-success">Request validated</span>'; break;
                }
                $("td:eq(5)", nRow).html(
                   state
                );
        
                var $th = $(this).find("tr:first th");
                $("td", nRow).each(function(id, field) {
                    if($th.eq(id).hasClass("hidden-xs")) $(this).addClass('hidden-xs');
                });
                
            }
        });        
    });  
    
</script>
{% endblock specificJs %}
        
{% block container %}

<!-- Modal -->
    <div id="deleteEmailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <form action="{{url('eleave_wishes_delete')}}" method="PUT">
                    <input type="hidden" name="id" id="email-id">
                    <div class="modal-body">
                        <p>Do you really want to delete this record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-success">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- End Modal -->  

    	
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Cabins / Pilots eleave requests</h1>  
        <div id="description_help">Please enter your leave wish. Just click the "Add a leave request" button on the top of table.</div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            {% if not myself.isOffice %}
                <div class="alert alert-info">You have {{ myself.remainingDays }} days remaining</div>
            {% endif %}
         
            <!-- BEGIN SEARCH_ENGINE -->
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-search"></i>
                    </span>
                    <h5>Search</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" action="" method="get">
                        
                            <div class="form-group">
                                <label class="control-label">State</label>                
                                <div class="controls">
                                    <select name="state" id="state">
                                        <option value="all"{{ state == "all" or state == "" ? ' selected="selected" ' : "" }}>-- All --</option>
                                        <option value="0" {{ state is not null and state == "0" ? ' selected="selected" ' : "" }}>Blue</option>
                                        <option value="1" {{ state == "1" ? ' selected="selected" ' : "" }}>Red</option>
                                        <option value="2" {{ state == "2" ? ' selected="selected" ' : "" }}>Green</option>
                                    </select>
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="control-label">Leave Preference </label>                
                                <div class="controls">
                                    <select name="choice1_leave_preference[]" id="choice1_leave_preference" multiple="multiple">
                                       {% for key, value in preferenceList %}
                                            <option {{ key in selectedLeavePreference ? ' selected="selected" ' : "" }} value="{{ key }}">{{ value }}</option>
                                       {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">From</label>                
                                <div class="controls">
                                    <input class="form-control input-sm date-input" name="from" type="text" id="date-from" value="{{ from }}" placeholder="dd/mm/yyyy" data-enable-datepicker="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">To</label>                
                                <div class="controls">
                                    <input class="form-control input-sm date-input" name="to" type="text" id="date-to" value="{{ to }}" placeholder="dd/mm/yyyy" data-enable-datepicker="true">
                                </div>
                            </div>
                        
                            {% if  adminAccess %}
                            <div class="form-group">
                                <label class="control-label" for="eleaveUser">User</label>
                                <div class="controls">
                                    <input type="text" id="eleaveUser" name="eleaveUser" value="{{ eleaveUser }}" class="form-control">
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="control-label">Base</label>                
                                    <div class="controls">
                                        <select name="id_station" id="id_station">
                                            <option value=""></option>
                                            {% for base in stationsList %}
                                                <option {{ base.idStation == currentBase ? ' selected="selected" ' : "" }}  value="{{ base.idStation }}">{{ base.iataCode }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contract</label>                
                                    <div class="controls">
                                        <select name="type_eftr[]" id="types_eftr" multiple="">
                                            {% for typeEftr in typeEftrList %}
                                                <option {{ typeEftr.id in currentEftrType ? ' selected="selected" ' : "" }}  value="{{ typeEftr.id }}">{{ typeEftr.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="btn-to-display"><i class="icon-search"></i> Search</button>
                            {% if not is_granted('ROLE_ELEAVE_SIMPLE_USER') %}
                                <button type="submit" class="btn btn-warning" name="btn-to-csv"><i class="icon-file"></i> To csv</button>
                            {% endif %}
                        </div>
                        <div id="submitted"></div>
                    </form>
                </div>
            </div>
            <!-- END SEARCH_ENGINE -->
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>
        <div class="col-xs-12">
            <a href="{{ url('eleave_wishes_add') }}" class="btn btn-primary"><i class="icon-add"></i> Add a leave request</a>
        </div>
        
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>List of leaves</h5>
                    
                </div>
                <div class="widget-content nopadding">
                    <table width="100%" class="table table-bordered table-striped table-hover data-table" id="call-types-list">
                        <thead>
                            <tr>
                                    <th>User</th>
                                    <th>Contract</th>
                                    <th>Date of request</th>
                                    <th>Comment</th>
                                    <th>Accepted period</th>
                                    <th>State</th>
                                    <th>Type</th>
                                    <th style="width:20%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>
            
{% endblock container %}