{% extends '@EasyjetEwish/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}Add GDO request{% endblock %}

{% block specificJs %}{{ parent() }}

<script>

    function month(num)
    {
        var monthValue = $("#month").val();
        monthValue = monthValue * 1 + num;
        if (monthValue < 1) 
        {
            monthValue = 12;
            year(-1);
        }
        if (monthValue > 12) 
        {
            monthValue = 1;
            year(1);
        }
        $("#month").val(monthValue);
        $( "#calendarForm" ).submit();
    }

    function year(num)
    {
        var yearValue = $("#year").val();
        $("#year").val(yearValue*1 + num);
        $( "#calendarForm" ).submit();
    }
    
</script>

{% endblock specificJs %}
        
{% block container %}
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Add a GDO</h1>  
        <div id="description_help">
          Here, you can send a GDO day request.
          Just click on the selected wish and send your request
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
              eWish is only applicable for the end of the year festive period. You can request them from the 01 of April until the 30 of September. All other GDO must be requested trough eCrew Please refer to the Rostering Agreement (GDO allowance, 4 consecutive GDOs only once before and once after the 01.07, minimum duty days between 2 requests or any other applicable rules...)
            </div>
             <div class="col-xs-12">
                {{ macros.wizz() }}
            </div>
            <form method="get" name = "calendarForm" id = "calendarForm" action="{{url('ewish_index')}}" class="form-horizontal">
                <input name="month" type="hidden" id="month" value="{{ month }}">
                <input name="year" type="hidden" id="year" value="{{ year }}">
                    {{calendar | raw }}
            </form>
        </div>
        <span class="texte_normal"><br>
            <strong style="margin-left:200px">GDO request must reach the rostering before the 1st of the 2 previous month at the latest.</strong><br>
        </span> 
    </div>
</div>
            
{% endblock container %}