{% extends "@EasyjetSfsu/Base/structure.html.twig" %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% set viewUrl = url('sfsu_files_multiple_show') %}

{% block title %}Change the max file size upload{% endblock %}

{% block specificJs %}{{ parent() }}
    <script type="text/javascript">
    var browserdetected = null;
    var clsMutationObserver = window.MutationObserver || window.WebKitMutationObserver || false;
   
   
   // Get IE or Edge browser version
    var version = detectIE();

    /**
     * detect IE
     * returns version of IE or false, if browser is not Internet Explorer
     */
    function detectIE() {
      var ua = window.navigator.userAgent;
      // Test values; Uncomment to check result …

      // IE 10
      // ua = 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)';

      // IE 11
      // ua = 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko';

      // Edge 12 (Spartan)
      // ua = 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36 Edge/12.0';

      // Edge 13
      // ua = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586';

      var msie = ua.indexOf('MSIE ');
      if (msie > 0) {
        // IE 10 or older => return version number
        return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
      }

      var trident = ua.indexOf('Trident/');
      if (trident > 0) {
        // IE 11 => return version number
        var rv = ua.indexOf('rv:');
        return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
      }

      var edge = ua.indexOf('Edge/');
      if (edge > 0) {
        // Edge (IE 12+) => return version number
        return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
      }

      // other browser
      return false;
    }
    

    $(function() {
        var totalSize = 0;
        window.filesList = new Array();
        var isOldIe = version !== false && version < 10;
        if (isOldIe) {
            $("#ie-alert").slideDown();
        }

        $('#fileupload').fileupload({
            add: function(e, data) {
                if(data.originalFiles.length>5){
                    alert("Max 5 files are allowed");
                    return false;
                }
                $.each( data.originalFiles, function( key, value ) {
                   $.each(value, function (index, value) {
                        if(index ==='size') {
                            totalSize += value;
                        }
                    });
                });
                //totalSize = 5368709122;
          
                if(totalSize > {{ maxUploadSize }}) {
                    bootbox.alert("Your total file size is too big");return false ;
                } else {
                    $(".fileinput-button").addClass("disabled");
                    if (isOldIe) {
                        $("#ie-progress").slideDown();
                    }
                    data.submit();
                }
            },
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: '{{ url("sfsu_files_send") }}',
            autoUpload: true
        }).bind('fileuploaddone', function (e, data) {
            if (data.jqXHR.responseJSON) {
                if (data.jqXHR.responseJSON['sfsu_file_upload_form'][0].error) {
                    bootbox.alert(data.jqXHR.responseJSON['sfsu_file_upload_form'][0].error);
                } else {
                    var fileId = data.jqXHR.responseJSON['sfsu_file_upload_form'][0].fileId;
                    filesList.push(fileId);
                    var activeUploads = $('#fileupload').fileupload('active');
                    if(activeUploads == 1) {
                        var htmlParameters = "";
                        for (var i = 0; i < filesList.length; i++) {
                            htmlParameters += "&file[]=" + filesList[i];
                        }
                        window.location.href = '{{ viewUrl }}?' + htmlParameters.substr(1);
                    }

                }
                
            } else {
                bootbox.alert("An error occured while parsing your file. Please refresh the window and try again");
            }
        }).bind('fileuploadfail', function (e, data) {
            bootbox.alert("An error occured while parsing your file. Please refresh the window and try again");
        });
    });

    $(document).bind('dragover', function (e) {
        var dropZone = $('#upload-zone'),
            timeout = window.dropZoneTimeout;
        if (!timeout) {
            dropZone.addClass('in');
        } else {
            clearTimeout(timeout);
        }
        var found = false,
            node = e.target;
        do {
            if (node === dropZone[0]) {
                found = true;
                break;
            }
            node = node.parentNode;
        } while (node != null);
        if (found) {
            dropZone.addClass('hover');
        } else {
            dropZone.removeClass('hover');
        }
        window.dropZoneTimeout = setTimeout(function () {
            window.dropZoneTimeout = null;
            dropZone.removeClass('in hover');
        }, 100);
    });
    </script>

{% endblock specificJs %}



{% block container %}
        
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Upload your file</h1>         
    </div>
    
    
    {{ form_start(sfsuForm) }}

        <div class="row" id="ie-alert" style="display: none;">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>Important ! </strong>You are using an old version of Internet explorer. Note that you won't have any progress bar and file size check before your upload. Please use Internet Explorer version 10 or another browser which works with HTML5.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="upload-zone" class="well block-upload">
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="icon-cloud-upload very-big-icon"></i>
                            <p>
                                Welcome to the easyJet <strong>OrangeFile</strong>. Use this to safely and securely transfer
                                data to your colleagues within easyJet, or to external 3 rd parties.
                            </p>
                            <p>
                                Once you’ve uploaded your file, you’ll need to add the email addresses of the
                                recipients. The recipient will then receive an email with a link to the file which they
                                can download. First time 3 rd party users will receive an additional email to register
                                their details before they can download.
                            </p>
                            <p>
                                The file is held in the <strong>OrangeFile</strong> for 7 days, after which it’s deleted.
                                GDPR compliant and ideally used for sending large files containing personal or
                                sensitive data, <strong>OrangeFile</strong> helps to reduce your data footprint by avoiding having
                                emails with confidential attachments in your sent items or inbox.
                            </p>
                            <p>
                                If you have an issue please email <a href="mailto:easyjetITservicedesk@easyjet.com">easyjetITservicedesk@easyjet.com</a>, if you have questions related to the functionalities, you can email <a href="mailto:ezs-it@easyjet.com">ezs-it@easyjet.com</a>
                            </p>
                            <div class="message">
                                
                                <strong>Drag and drop your file (maximum file size : {{ maxHumanFileSize }}B)</strong><br>
                                or<br>
                                <span class="btn btn-primary fileinput-button">
                                    <span>Select your file(s)</span>
{#                                    <input type="file" name="upload-file">#}
                                      {{ form_widget(sfsuForm.uploadFile, {"attr":{ "accept" : acceptedExtensions , "multiple" : "multiple"}}) }}
                                </span><br><br>
                                <div id="ie-progress" style="display: none;"><br>Progress bar not displayed in IE < 10 (transfer in progress ...)</div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>

      {{ form_end(sfsuForm) }}
        
</div>
   
{% endblock container %}