{% extends "@EasyjetSfsu/Base/structure.html.twig" %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% set file = filesToShow[0] %}
{% block title %}Uploaded file{% endblock %}

{% block specificJs %}{{ parent() }}
<script type="text/javascript">
    $(function() {
        $("#copy-to-clipboard").bind("click", function() {
            window.getSelection().removeAllRanges
        });
        
        $(".show-hide-logs").on("click", function() {
           $(this).toggleClass("inversed"); 
           if ($(this).hasClass("inversed")) {
               $("#logs-section").stop().slideDown();
           } else {
               $("#logs-section").stop().slideUp();
           }
        });
        
        $("#logs-section").slideUp();
        
        new Clipboard('#copy-to-clipboard');

        swissinside.simpleDataTable($("#logs-table"));
        $("#logs-table_length").hide();

        $("#remove-file").bind("click", function(e) {
            e.preventDefault();
            bootbox.confirm("You are about to remove your file. Do you confirm ?", function(result) {
                if (result === true) {
                    window.location.href = "{{ url('sfsu_files_delete', {file: file.id}) }}";
                };
            });
        });
        
        $("#sfsu_file_mail_form_recipient").multiple_emails();
    });
    
</script>
{% endblock specificJs %}



{% block container %}
        
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">View file</h1>         
    </div>
    
    {% if app.user and app.user.id == file.createdBy.idUser %}
        <div class="row">
            <div class="col-xs-12">
                {{ macros.wizz() }}
            </div>

            
            {% if fileExists and easyjetEnv == "swissinside" %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
                {{ form_errors(form) }}
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-pencil"></i>
                            </span>
                            <h5>Define your file properties</h5>
                        </div>
                        <div class="widget-content nopadding">
                         
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.retentionDuration) }} :</label>
                                <div class="controls">
                                    {{ form_widget(form.retentionDuration, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.deleteAfterDownload) }} :</label>
                                <div class="controls">
                                    {{ form_widget(form.deleteAfterDownload) }}
                                </div>
                           </div> 
                            
                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary" />
                                <button class="btn btn-danger pull-right" id="remove-file"><i class="icon-trash"></i> Remove now</button>
                            </div>
                        </div>
                    </div>
                </div> 
                {{ form_end(form) }}
            {% endif %}          
        </div>
        
    

        {% if fileExists %}
            {{ form_start(emailForm, {'attr': {'class': 'form-horizontal'}} ) }}
            {{ form_errors(emailForm) }}
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-envelope"></i>
                            </span>

                            <h5>Send the file by mail</h5>
                        </div>
                        <div class="widget-content nopadding">
                                <div class="alert alert-info">The link will be automatically included in the bottom of the mail</div>
                                <div class="form-group">
                                    <label class="control-label">{{ form_label(emailForm.subject) }} :</label>
                                    <div class="controls">
                                        {{ form_widget(emailForm.subject, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label">{{ form_label(emailForm.recipient) }} :</label>
                                    <div class="controls">
                                        {{ form_widget(emailForm.recipient, { 'attr': {'class': 'form-control'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(emailForm.recipient) }}
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label">{{ form_label(emailForm.mailContent) }} :</label>
                                    <div class="controls">
                                        {{ form_widget(emailForm.mailContent, { 'attr': {'class': 'form-control'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(emailForm.mailContent) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Send file link by email</button>
                                    
                                </div>
                            </div>
                    </div>
                </div>  
            </div>
            {{ form_end(emailForm) }}
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th-list"></i>
                    </span>
                    <h5>Log concerning the file</h5>
                    <i class="show-hide-logs icon-upload pull-right"></i>
                    <span class="badge badge-info">Hits: {{ file.nbDownloads }}</span>
                    <span class="badge">Last download: {{ file.getLastDownload ? file.getLastDownload|date('d/mY - H:i:s') : 'none' }}</span>
                    
                </div>
                <div class="widget-content nopadding" style="display: none;" id="logs-section">
                    <table width="100%" class="table table-bordered table-striped table-hover data-table" id="logs-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in file.logs %}
                                <tr>
                                    <td>{{ log.date|date('d/m/Y - H:i') }}</td>
                                    <td>{{ log.user ? log.user.logUser ~ ' (' ~ log.user.preNomUser ~ ' ' ~ log.user.nomUser ~ ')' : 'Not authenticated' }}<br /><small class="help-block text-left">IP : {{log.ip}} - Email : {% if log.emailAddress %}<a href="mailto:{{ log.emailAddress }}">{{ log.emailAddress }}</a>{% endif %}</small></td>
                                    <td>{{ log.action }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>    

</div>


   
{% endblock container %}