{% extends '@EasyjetEleave/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %} {{ title }}{% endblock %}

{% block specificJs %}{{ parent() }}

<script>

var x = 0;
var y = 0;
var dateMin = "{{dateMin}}";
var dateMax = "{{dateMax}}";


var calendarMonth = '';
var calendarYear = '';
var last_champ = '';

var tmp = dateMin.split("-");
calendarMonth = tmp[1];
calendarYear = tmp[0];


function isRequestLessThan18Monthts() {
	
    if(formatToEnglish($('#choice1_start').val()) > dateMax) {
        alert("Choice 1 : Leaves periods can be requested no longer than 16 months in advance. You cannot do a leave request after the " + formatToFrance(dateMax) + ". Please change your wish date or wait the required time to do this request.");
        return false;
    }
    if(formatToEnglish($('#choice2_start').val()) > dateMax) {
        alert("Choice 2 : Leaves periods can be requested no longer than 16 months in advance. You cannot do a leave request after the " + formatToFrance(dateMax) + ". Please change your wish date or wait the required time to do this request.");
        return false;
    }
    if(formatToEnglish($('#choice3_start').val()) > dateMax) {
        alert("Choice 3 : Leaves periods can be requested no longer than 16 months in advance. You cannot do a leave request after the " + formatToFrance(dateMax) + ". Please change your wish date or wait the required time to do this request.");
        return false;
    }
    return true;
}

function test()
{
	// Requests cannot be made more than 18 months in advance

	if (!isRequestLessThan18Monthts()) return false;

	var choice1Start    = formatToEnglish($('#choice1_start').val());
	var choice1End      = formatToEnglish($('#choice1_end').val());
	var choice2Start    = formatToEnglish($('#choice2_start').val());
	var choice2End      = formatToEnglish($('#choice2_end').val());
	var choice3Start    = formatToEnglish($('#choice3_start').val());
	var choice3End      = formatToEnglish($('#choice3_end').val());
	var choice1StartVal = $('#choice1_start').val();
	var choice1EndVal   = $('#choice1_end').val();
	var choice2StartVal = $('#choice2_start').val();
	var choice2EndVal   = $('#choice2_end').val();
	var choice3StartVal = $('#choice3_start').val();
	var choice3EndVal   = $('#choice3_end').val();

	if (choice1End < choice1Start) 
	{
		alert ("Choice 1 : Invalid date(s) please try again.") ; 
		return false;
	}
	if (choice2End < choice2Start) {
		alert ("Choice 2 : Invalid date(s) please try again.") ; 
		return false;
	}
	if (choice3End < choice3Start) {
		alert ("Choice 3 : Invalid date(s) please try again.") ; 
		return false;
	}
	
	if (choice1Start < dateMin) {
		alert("Choice 1 : Invalid date(s) please try again. You must choose above " + formatToFrance(dateMin)) ; 
		return false;
	}
	if (choice2Start < dateMin) {
		alert("Choice 2 : Invalid date(s) please try again. You must choose above " + formatToFrance(dateMin)) ; 
		return false;
	}
	if (choice3Start < dateMin) {
		alert("Choice 3 : Invalid date(s) please try again. You must choose above " + formatToFrance(dateMin)) ; 
		return false;
	}
	
   var must_second_choice = false;

	// First date range
	var start = choice1Start;
	var end = choice1End;
	var bool_must_second_choice = false;

	if (start == false || end == false) return emptyField();
	start = choice2Start;
	end = choice2End;

	if (bool_must_second_choice == true && (start == false || end == false))
	{
		alert ("You must have more than one choice for the winter/summer period");
		return false;
	}
	if ((start != false && end == false) || (start == false && end != false)){
       return emptyField();
	} 

	var tmp_start = "";
	var tmp_end = "";
	start = choice3Start;
	end   = choice3End;

	if ((start != false && end == false) || (start == false && end != false)) {
       return emptyField();
	} 
   
	// There must not be 2x the same entry period
	if ((choice1StartVal == choice2StartVal && choice1EndVal == choice2EndVal && choice1StartVal != "00/00/0000" && choice1StartVal != "" && choice2EndVal != "00/00/0000" && choice2EndVal != "") ||
	(choice1StartVal == choice3StartVal && choice1EndVal == choice3EndVal && choice1StartVal != "00/00/0000" && choice1StartVal != "" && choice3EndVal != "00/00/0000" && choice3EndVal != "") ||
	(choice2StartVal == choice3StartVal && choice2EndVal == choice3EndVal && choice2StartVal != "00/00/0000" && choice2StartVal != "" && choice3EndVal != "00/00/0000" && choice3EndVal != "") )
	{
		alert ("You cannot select many times the same period!");
		return false;
	}

	var x = confirm("You are about to send your request, do you want to proceed ?");
	if(x == true){
	    return true;
	} else {
	    return false; 
	}

}

function formatToEnglish(date)
{
	
	if (date == "" || date == "undefined") return false;
	var tab = date.split("/");
	return tab[2] + "-" + tab[1] + "-" + tab[0];
}

function formatToFrance(date)
{
	if (date == "" || date == "undefined") return false;
	var tab = date.split("-");
	return tab[2] + "-" + tab[1] + "-" + tab[0];
}

function emptyField()
{
	alert ("Thanks to complete the threads");
	return false;
}

function choiceSelect(id) {
    if(document.getElementById(id).checked == true) {
        switch(id) {
            case 'choice1' :
                document.getElementById('choice2').checked = false;
                document.getElementById('choice3').checked = false
                break;
            case 'choice2' :
                document.getElementById('choice1').checked = false;
                document.getElementById('choice3').checked = false
                break;
            case 'choice3' :
                document.getElementById('choice1').checked = false;
                document.getElementById('choice2').checked = false
                break;
        }
    }
    
}


</script>

{% endblock specificJs %}

{% block container %}

<div id="content">
    <div id="content-header">
       <h1 id="titre_help">{{ user.prenomUser }} {{ user.nomUser }}  ({{ user.logUser }}) </h1>
    </div>
    <div class="row">
		<div class="col-xs-12">
				{{ macros.wizz() }}
		</div>
    </div>
			

    <form onSubmit="return test();" name="form1"  id ="form1" method="post" action="{{ formData.formId ? url('eleave_resource_group_wishes_edit',{'id' : formData.formId}) : url('eleave_resource_group_wishes_add')}}" class="form-horizontal">
		<input name="id" type="hidden" id="id" value="{{formData.formId}}">
		
        <div class="row">
            <div class="col-xs-12">
		        <div class="widget-box">
					<div class="widget-title">
						<h5 {{ formData.color1 }}>Priority choice <span style="position:absolute;right: 60px;" class="float_right"><input {{ formData.checked1 }} {{ formData.disable1 }}  type="{{ formData.checkbox }}" id="choice1" onchange="javascript:choiceSelect('choice1')" name="choice1_accepted" value="{{ formData.choice1Accepted }}" /> {{ formData.textCheckbox1 }}</span></h5>
					</div>
					<div class="widget-content nopadding">
						<div class="form-group">
							<label class="control-label">First Non Working Day :</label>    
							<div class="controls">
								<input type='text' id="choice1_start" class="form-control" name="choice1_start" value='{{formData.choice1Start}}'  data-enable-datepicker="true" />
							</div>
						</div>  

						<div class="form-group">
							<label class="control-label">Last Non Working Day :</label>    
							<div class="controls">
								<input type='text' id="choice1_end" data-enable-datepicker="true" class="form-control" name="choice1_end" value='{{ formData.choice1End }}'  />
							</div>
						</div>    
        
		            </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
		        <div class="widget-box">
					<div class="widget-title">
						<h5 {{ formData.color2 }}>Second choice <span style="position:absolute;right: 60px;" class="float_right"><input {{ formData.checked2 }} {{ formData.disable2 }}  type = "{{ formData.checkbox }}" id = "choice2" onchange = "javascript:choiceSelect('choice2')" name = "choice2_accepted" value="{{ formData.choice2Accepted }}" /> {{ formData.textCheckbox2 }}</span></h5>
				
					</div>
					<div class="widget-content nopadding">
						<div class="form-group">
							<label class="control-label">First Non Working Day :</label>    
							<div class="controls">
							<input type="text" id="choice2_start" data-enable-datepicker="true" class="form-control" name="choice2_start" value='{{ formData.choice2Start }}' />
						</div>
						</div>  

						<div class="form-group">
							<label class="control-label">Last Non Working Day :</label>    
							<div class="controls">
								<input type="text" id="choice2_end" data-enable-datepicker="true" class="form-control" name="choice2_end" value="{{ formData.choice2End }}" />
						    </div>
						</div>    
        
		            </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
		        <div class="widget-box">
					<div class="widget-title">
						<h5 {{ formData.color3 }}>Third choice <span style="position:absolute;right: 60px;" class="float_right"><input {{ formData.checked3 }} {{ formData.disable3 }}  type="{{ formData.checkbox }}" id="choice3" onchange="javascript:choiceSelect('choice3')" name="choice3_accepted" value="{{ formData.choice3Accepted }}" /> {{ formData.textCheckbox3 }}</span></h5>
					</div>
					<div class="widget-content nopadding">
						<div class="form-group">
							<label class="control-label">First Non Working Day :</label>    
							<div class="controls">
								<input type="text" id="choice3_start" data-enable-datepicker="true" class="form-control" name="choice3_start" value='{{ formData.choice3Start }}'  />
							</div>
						</div>  
						<div class="form-group">
							<label class="control-label">Last Non Working Day :</label>    
							<div class="controls">
								<input type="text" id="choice3_end"  data-enable-datepicker="true" class="form-control" name="choice3_end" value="{{ formData.choice3End }}" />
							</div>
						</div>   

		            </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
		        <div class="widget-box">
					<div class="widget-title">
						<h5>Thanks to describe your wish</h5>
					</div>
					 <div class="widget-content nopadding">
						<div class="form-group">
							<label class="control-label">Comment :</label>    
							<div class="controls">
							<textarea name="comment_user" class="form-control" cols="50" rows="6"></textarea>
							</div>
						</div> 
					
						 <div class="form-actions">
						 {% if isSubmit %}
                            <button type="submit" class="btn btn-primary" name="btn-to-display"><i class="icon-submit"></i> submit</button>
						 {% else %}
						 * Locked *
						 {% endif %}	
                        </div>   
				       
		            </div>
                </div>
            </div>
        </div>
   </form>

</div>


{% endblock container %}