{% extends '@EasyjetOtp/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}Make a claim adjsutment{% endblock %}

{% block specificJs %}{{ parent() }}


{% endblock specificJs %}
        


{% block container %}
        
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Sector adjustment</h1>         
        <div id="description_help">Below you can set the claim adjustment for the selected employee.</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>  
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="{{ claimsListUrl }}" class="btn btn-default"><i class="icon-home"></i> Return to the list</a>
        </div>
    </div>

    
    {% if row %}
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-th"></i>
                        </span>
                        <h5>Global information</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Firstname</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ row.firstname }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Lastname</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ row.lastname }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Compensation grade</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ row.compensationGrade }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Contract</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ row.typeEftr.type }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Cvp month</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ row.batch.cvpMonth|date("M Y") }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Concerned date</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ sectAdj.request.concernedDate ? sectAdj.request.concernedDate|date("d/m/Y") : "Unknown" }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">                
            {{ form_start(form_message, {'attr': {'class': 'form-horizontal'}} ) }}
            {{ form_errors(form_message) }}

            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-comment"></i>
                        </span>
                        <h5>Comments</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {% for message in sectAdj.comments %}
                            <div class="form-group">
                                <label class="control-label" for="sectorAdjustmentMessage">
                                    {{ message.postedBy.prenomUser }} - {{ message.postedBy.logUser }}
                                    <span class="help-inline-inalterable">{{ message.postDate|date("M d Y - H:i") }}</span>
                                </label>
                                <div class="controls">
                                    <p>{{ message.message|nl2br }}</p>
                                </div>
                            </div>
                        {% endfor %}

                        {% if not sectAdj.exportedAt %}
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form_message.message) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form_message.message, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                           
                        {% endif %}

                        {% if not sectAdj.exportedAt %}
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Send message</button>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div> 
        </div>

        {% if not sectAdj.exportedAt %}
            {{ form_end(form_message) }}
        {% else %}
            </form>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-th"></i>
                        </span>
                        <h5>Global information</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Firstname</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ sectAdj.request.concernedUser.prenomUser }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Lastname</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" value="{{ sectAdj.request.concernedUser.nomUser }}" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
            
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-comment"></i>
                            </span>
                            <h5>Comments</h5>
                        </div>
                        <div class="widget-content nopadding">
                            {% for message in sectAdj.comments %}
                                <div class="form-group">
                                    <label class="control-label" for="sectorAdjustmentMessage">
                                        {{ message.postedBy.prenomUser }} - {{ message.postedBy.logUser }}
                                        <span class="help-inline-inalterable">{{ message.postDate|date("M d Y - H:i") }}</span>
                                    </label>
                                    <div class="controls">
                                        <p>{{ message.message|nl2br }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div> 
            </form>
        </div>    
        {% endif %}
              
    
    

    {% if  is_granted('ROLE_CLAIMS_ADMIN') %}
        {% if row %}
            
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
            {{ form_errors(form) }}
            
            {% if multipleRequestsForDay %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-warning">
                            <button class="close" data-dismiss="alert">×</button>
                            <strong>Warning</strong>  This user has multiple sector adjustment requests for this date.
                        </div>
                    </div>
                </div>
            {% endif  %}

            <div class="row">

                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-th"></i>
                            </span>
                            <h5>Adjustments</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectN) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectN, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div>
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectS) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectS, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div>
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectM) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectM, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectL) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectL, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectXL) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectXL, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectManualTaxedChf) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectManualTaxedChf, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.sectManualNotTaxedChf) }}:</label>
                                <div class="controls">
                                    {{ form_widget(form.sectManualNotTaxedChf, { 'attr': {'class': 'form-control'} }) }}
                                </div>
						    </div> 
                            
                            <div class="form-group">
                                <label class="control-label">Status:</label>
                                <div class="controls">
                                    <select name="status" id="status">
                                        <option {{ sectAdj.status == "accepted" ? 'selected="selected"' : '' }} value="accepted">Accepted</option>
                                        <option {{ sectAdj.status == "refused" ? 'selected="selected"' : '' }} value="refused">Refused</option>
                                        <option {{ sectAdj.status == "pending" ? 'selected="selected"' : '' }} value="pending">Pending</option>
                                </select>
                                </div>
						    </div>                         
                            {% if not sectAdj.exportedAt %}
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Set data</button>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>           
            </div>

            {{ form_end(form) }}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>Read only</strong> This request is not assigned to any month yet. Please wait until the month has been imported in the system in order to manage this request.
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-th"></i>
                        </span>
                        <h5>Allowed adjustments</h5>
                    </div>
                    <div class="widget-content">
                        <p>
                            <span class="badge badge-info">N:  {{ sectAdj.sectN }}</span>
                            <span class="badge badge-info">S:  {{ sectAdj.sectS }}</span>
                            <span class="badge badge-info">M:  {{ sectAdj.sectM }}</span>
                            <span class="badge badge-info">L:  {{ sectAdj.sectL }}</span>
                            <span class="badge badge-info">XL: {{ sectAdj.sectXL }}</span>
                            {% set amount = sectAdj.sectManualTaxedChf + sectAdj.sectManualNotTaxedChf %}
                            <span class="badge badge-info">Manual : {{ amount|number_format(2, '.', ',') }} CHF</span>
                        </p>
                       
                    </div>
                </div>
            </div>           
        </div>
    {% endif %}
    
</div>
   
{% endblock container %}