{% extends '@EasyjetWorkingSheet/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block container -%}

    <div id="content">
        <div id="content-header">
            <h1 id="titre_help">Update working sheet</h1>
            <div id="description_help">Below, you can import an excel sheet which contains all update for one or multiple employees. You can download the excel sheet sample by <a href="/bundles/working-sheet/resources/WorkingSheetUpdateTemplate.xlsx">clicking here</a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                {{ macros.wizz() }}
            </div>
        </div>
        
        <div class="row">

            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-th"></i>
                        </span>
                        <h5>Your excel sheet</h5>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="widget-content nopadding">

                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.excelSheet) }}</label>
                            <div class="controls">
                                {{ form_widget(form.excelSheet) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <input id="submit-button" type="submit" class="btn btn-primary" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

       
{% endblock %}
