{% extends '@EasyjetEleave/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}Update remaining days{% endblock %}


{% block specificJs %}{{ parent() }}
<script>
    $(function() {
       swissinside.menuSelected("admin-remaining-days"); 
    });
</script>
{% endblock specificJs %}
        


{% block container %}
    	
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Update remaining days</h1>  
        <div id="description_help">Here you can update the remaining leave days for the crews.
        You can choose one or more files. Each file will be parsed and employees contained in the excel file(s) will be updated in the eleave application.</div>
    </div>
    
    <div class="row">
        
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>
        
        <div class="col-xs-12">

            
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-download"></i>
                    </span>
                    <h5>Choose the excel file below</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        

                            <div class="form-group">
                                <label class="control-label">Excel file(s) :</label>                
                                <div class="controls">
                                    <input class="form-control input-sm date-input" name="files[]" type="file"  multiple="multiple">
                                </div>
                            </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="icon-search"></i> Update remaining days</button>
                        </div>
                        <div id="submitted"></div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    {% if importLog is defined %}
    <div class="row">
        
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Import result</h5>
                    <span class="badge badge-info">{{ importLog.importDate|date("d/m/Y H:i") }}</span>
                </div>
                <div class="widget-content nopadding">
                    <table width="100%" class="table table-bordered table-striped table-hover data-table" >
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Remaining day</th>
                                <th>Work Ratio<th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for currentPerson in importLog %}
                            <tr>
                                <td>{{ currentPerson.empno }}</td>
                                <td>{{ currentPerson.remainingLeaves }}</td>
                                <td>{{ currentPerson.workRatio }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
    {% endif %}

</div>
            
{% endblock container %}