{% extends '@EasyjetHris/Base/structure.html.twig' %}

{% block specificJs %}{{ parent() }}

{% endblock specificJs %}
        


{% block container %}
    	
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Synchronization log for the {{ log.scriptTime|date('F jS Y - H:i') }}.</h1>  
        <div id="description_help">Hereafter, the details about the selected log.</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Log details</h5>
                </div>
                <div class="widget-content">

                    <div class="form-group">
                        <label class="control-label">Synchronization reference</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                EJINT0096
                            </span>                                
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Script time</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                {{ log.scriptTime|date('F jS Y - H:i') }}&nbsp;
                            </span>                                
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Script status</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                {% if log.status == "NO_FILE_TO_PARSE" %}
                                    <span class="badge badge-success">No file to parse</span>
                                {% elseif log.status == "FAILED" %}
                                    <span class="badge badge-danger">Failed</span>
                                {% elseif log.status == "WARNING" %}
                                    <span class="badge badge-warning">Warning</span>
                                {% elseif log.status == "SUCCESS" %}
                                    <span class="badge badge-success">Success</span>
                                {% else %}
                                    <span class="badge badge-info">{{ log.status }}</span>
                                {% endif %}
                                &nbsp;
                            </span>                                
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Archived file(s)</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                {{ log.archivedFile }}&nbsp;
                            </span>                                
                        </div>
                    </div>

                    {% if log.payElementsLog %}{% endif %}
                    <div class="form-group">
                        <label class="control-label">Pay elements log</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                <a href="{{ url('ejint096_logs_pay_elements_dl', {log: log.id}) }}" class="btn btn-success"><i class="icon-download"></i> Download CSV</a>
                            </span>                                
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Script log content</label>
                        <div class="controls">
                            <span class="help-block-inalterable text-left">
                                <pre>{{ log.scriptLogContent }}</pre>&nbsp;
                            </span>                                
                        </div>
                    </div>


                </div>
            </div>
        </div>           
    </div>
</div>
            
{% endblock container %}