{% extends '@EasyjetEwish/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}Emails List{% endblock %}

{% block container %}

    <!-- Modal -->
    <div id="deleteEmailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <form action="{{ url('ewish_admin_emails_delete') }}" method="PUT">
                    <input type="hidden" name="id" id="email-id">
                    <div class="modal-body">
                        <p>Are you sure that you want to delete email?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-success">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- End Modal -->  

<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Administration</h1>
        <div id="description_help">
           Here you are abble to manage the sectors that will allow you to import the script.
        </div>
    </div>

  
    <!-- Results to show -->
    <div class="row">
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>
    </div>

    <div class="row">      
        <div class="col-xs-12">
            <a href="{{ url('ewish_admin_emails_add') }}" class="btn btn-primary">Add an email</a>
    </div>        

     <div class="row">      
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Your results</h5>
                </div>
                <div class="widget-content nopadding">
                
                    <table width="100%" class="table table-bordered table-striped table-hover data-table" id="emails-list">
                        <thead>
                            <tr>
                                <th>eMail</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>


{% endblock container %}

{% block specificJs %}{{ parent() }}
<script>
    $(document).on("click", ".deleteEmailId", function () {
        var id = $(this).data('email-id');
        $('#email-id').val(id);
    });
    
    $(function() { 
        swissinside.simpleDataTable($("#emails-list"), {
            "sAjaxSource": "{{ url('ewish_admin_emails_list') }}",
            "aoColumns" : [
                null, // eMail
                null, // Action
            ],
            "fnRowCallback" : function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                
                if(aData[1]) {
                    var editUrl =  "{{ url('ewish_admin_emails_edit', {"email" : ":id"} )}} ";
                    editUrl = editUrl.replace(":id", aData[1]); 
                    $('td:eq(1)', nRow).html( '<a href="' + editUrl + '"" class="btn btn-primary"><i class="icon-edit"></i> Edit</a> <a  class="btn btn-danger delete-btn deleteEmailId" data-email-id="'+aData[1]+'" id="deleteEmailId" data-toggle="modal" data-target="#deleteEmailModal"><i class="icon-trash"></i> Remove</a> ' );
                }
            },
            "columnDefs": [ {
                "targets": 'no-sort',
                "orderable": false,
            } ]
           
        });  
 
    });  
    
</script>
{% endblock specificJs %}