{% extends '@EasyjetEleave/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block specificJs %}{{ parent() }}

{% endblock specificJs %}
        


{% block container %}
        
<div id="content">

    <div id="content-header">
        <h1 id="titre_help">Refuses management</h1>         
        <div id="description_help">Here, you can manage the refuse type to associate to the leave request.</div>
    </div>
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
    {{ form_errors(form) }}
        
    <div class="row">
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>
        
        <div class="col-xs-12">
            <div class="widget-box">

                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Add/Edit the refuse type to associate to the leave request.</h5>
                </div>

                <div class="widget-content nopadding">

                    <div class="form-group">
                        <label class="control-label">{{ form_label(form.label) }} :</label>
                        <div class="controls">
                            {{ form_widget(form.label, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div> 
              
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" />
                   </div>

                </div>

            </div>
            
        </div>

    </div>    
    
    {{ form_end(form) }}
   
</div>
   
{% endblock container %}