{% extends '@EasyjetUman/Base/structure.html.twig' %}
{% import "@EasyjetSwissinsideCore/Base/macros.html.twig" as macros %}

{% block title %}Edit Application{% endblock %}

{% block specificJs %}
{{ parent() }}

<script>

    $(document).on("click", ".applicationsTypesUsersID", function () {
        var id = $(this).data('applications-types-users-id');
        $('#applications-types-users-id').val(id);
    });
    
</script>
{% endblock specificJs %}
        


{% block container %}

<!-- Modal -->
<div id="applicationsTypesUsersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm</h4>
        </div>
            <form action="{{ url('uman_admin_application_type_remove') }}" method="POST">
            <input type="hidden" name="applicationsTypesUsersId" id="applications-types-users-id">
            <input type="hidden" name="applicationId" value = "{{ id }}">
            <div class="modal-body">
                <p>Are you sure that you want to remove this application Type User ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-success">Yes</button>
            </div>
            </form>
        </div>

    </div>
</div>
<!-- End Modal -->  
    	
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">Edit Applications</h1>         
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ macros.wizz() }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary"  href="{{ url('uman_admin_add_application_type_users', {"id": id, "type": 'add'}) }}" ><i class="icon-plus"></i> Add a type</a>
        </div>
    </div>
        
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Applications List</h5>
                </div>
                <div class="widget-content nopadding">
                    <table width="100%" class="table table-bordered table-striped table-hover data-table" id="employees-list">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Ad group</th>
                                <th class="no-sort" style="width:250px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in applicationTypeUsers %}
                                <tr>
                                    <td>{{ user.type }}</td>
                                    <td>{{ user.commentaire }}</td>
                                    <td>{{ user.getValeur }}</td>
                                    <td>{{ user.getAdGroup }}</td>
                                    <td><a class="btn btn-primary" href="{{ url('uman_admin_add_application_type_users', {"id": user.id, "type": 'edit'}) }}"><i class="icon-edit"> Edit </i></a> <a class="btn btn-danger applicationsTypesUsersID" data-applications-types-users-id= {{ user.id }} data-toggle="modal" data-target="#applicationsTypesUsersModal" ><i class="icon-remove"> Remove</i></a></td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">

                    <div class="widget-title">
                        <h5>Application description</h5>
                    </div>

                    <div class="widget-content nopadding">

                        <div class="form-group">
                            <label class="control-label"> {{ form_label(form.initiaux) }} :</label>
                            <div class="controls">
                                {{ form_widget(form.initiaux, { 'attr': {'class': 'form-control', 'readonly':'true'} } ) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> {{ form_label(form.nom) }} :</label>
                            <div class="controls">
                                {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} } ) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> {{ form_label(form.description) }} :</label>
                            <div class="controls">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} } ) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    {{ form_end(form) }}
    
</div>

{% endblock container %}